#header {
    color : rgb(99, 99, 99);
    background-color: #4895ef;
    text-align: center;
    height: 140px;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}